body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
    color: #111;
}

a:hover {
    text-decoration: underline;
}

.cat-selection-bar {
    width: 25%;
    text-align: center;
}

.cat-list {
    list-style-type: none;
    text-indent: -1.0em;
}

.cat-list li {
    margin: 1.5em 0;
}

.game-container {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.0em;
    margin: 1.0em;
}

.cat-img {
    margin-top: 1.0em;
    width: 90%;
}

.clics-container {
    display: flex;
    align-items: baseline;
}

.clicks-span {
    font-size: 1.5em;
    margin: 0.5em;
    color:  #3f829d;
}